@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald&family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0099DD;
    padding: 15px;
    box-shadow: 1px 2px 5px #000;
}

.container img {
    width: 250px;
    cursor: pointer;
}

.nav-bar, a {
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 1px 2px 5px #000;
}

.nav-bar, a:hover {
    color: #44e74c;
}

.socials, i {
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 2px 5px #000;
}

.socials, i:hover {
    color: #44e74c;
}

/* Slider */

.slider {
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slider-box {
    width: 25%;
    height:auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.sllider-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #1d4ed8;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #1d4ed8;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3   {
    background-color: #1d4ed8;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}